//Default Font-sizes
$small-screen-h1: 26px;
$small-screen-h2: 20px;

//Default Colors
$body-background-default: #eee;
$article-background-default: #fff;

//Default Breakpoints
$breakpoint-small-screen: 720px;
