.header {
  height: 4em;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  flex-grow: 1;
  justify-content: left;
  border-bottom: 1px solid #ccc;
  color: var(--mpc-interaction--label-color);
  background: var(--mpc-interaction--label-background);
}

.candidate, .time-remaining {
  padding: 0.5rem;
}

.theme-toggle {
  position:absolute;
  right: 0;
  height: 4.75em;
  padding: 0 1.5em;
  color: var(--mpc-interaction--label-color);
  background: var(--mpc-interaction--label-background);
  border: none;
  border-left: var(--theme-toggle--border-left);
}
