.header {
  height: 5em;
  border-bottom: 1px solid #ccc;
  color: var(--mpc-interaction--label-color);
  background: var(--mpc-interaction--label-background);  
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

.candidate {
  font-weight: bold;
  font-style: italic;
}

.candidate, .time-remaining {
  padding: 0.5rem;
}

.time-remaining {
  margin-right: 9.375em;
}

.theme-toggle {
  position:absolute;
  top:0;
  right: 0;
  height: 6em;
  padding: 0 1.5em;
  color: var(--mpc-interaction--label-color);
  background: var(--mpc-interaction--label-background);
  border: none;
  border-left: var(--theme-toggle--border-left);
}

$breakpoint-mobile: 32.54em;
@media (max-width: $breakpoint-mobile) {
  .candidate, .time-remaining {
    padding:  .75rem 1rem;
  }
}
