/* variables */

/* breakpoints */
$breakpoint-mobile: 32.54em;

/* header */
$mpc-interaction--label-background: white;
$mpc-interaction--label-color: black;
$theme-toggle--border-left: 2px solid black;
